@import '../../../App.scss';

.form-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    
    &__input {
        margin-bottom: 15px!important;
        width: 100%;
    }
}
.MuiFormHelperText-root {
    color: $color-red!important;
}