@import "./../../App.scss";

.chart {
    width: 100%;
    
    &__label {
        background: $color-white;
        border: 1px solid $color-grey;
        padding: 20px;
        border-radius: 8px;
    }
}

.css-2b097c-container {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .chart {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    
        &__label {
            padding: 10px;
        }
    
        ::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        ::-webkit-scrollbar:horizontal {
            height: 6px;
        }
        ::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, .5);
            border-radius: 10px;
            border: 1px solid #ffffff;
        }
        ::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: #ffffff;
        }
    }
}