$color-green: #1b7505;
$color-white: #fff;
$color-grey: #989898;
$color-red: 'red';
$color-blue: #0c369c;
$color-black: #0c369c;

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

